adbc_driver_manager==1.0.0
adbc_driver_postgresql==1.0.0
adbc_driver_sqlite==1.0.0
aesara==2.9.3
aiohttp==3.9.5
albumentations==1.4.8
AppKit==0.2.8
array_api_strict==1.1.1
attr==0.3.2
av==12.0.0
beartype==0.18.5
beautifulsoup4==4.12.3
bokeh==3.4.1
boto3==1.34.114
botocore==1.34.114
brotli==1.1.0
brotlicffi==1.1.0.0
cairocffi==1.7.0
Carbon==1.1.10
cffi==1.16.0
clip==0.2.0
cloud_tpu_client==0.10
comet_ml==3.42.1
ConfigParser==7.0.0
contextlib2==21.6.0
coremltools==7.2
cryptography==42.0.7
Cython==3.0.10
defcon==0.10.3
defusedxml==0.7.1
diffusers==0.28.0
dill==0.3.7
dl==0.1.0
docutils==0.21.2
duckdb==0.10.3
dvclive==3.46.0
efficientnet_pytorch==0.7.1
etcd==2.0.8
expecttest==0.2.1
fastcluster==1.2.6
fastparquet==2024.5.0
filelock==3.14.0
flax==0.8.4
foo==.1
Foundation==0.1.0a0.dev1
freetype_py==2.4.0
gdown==5.2.0
glyphsLib==6.7.1
gmpy2==2.1.5
google_api_python_client==2.131.0
grpc_reflection==1.0.0
grpc_tools==1.0.0
h2==4.1.0
h5==0.9.2
HTMLParser==0.0.2
hub_sdk==0.0.8
hypothesis==6.103.0
ipykernel==6.29.4
ipython==8.24.0
ipywidgets==8.1.3
isal==1.6.1
jnius==1.1.0
kerchunk==0.2.5
keyring==25.2.1
kubernetes==29.0.0
lancedb==0.8.0
lap==0.4.0
lark==1.1.9
lmdb==1.4.1
lvis==0.5.3
lxml==5.2.2
lz4==4.3.3
lzmaffi==0.3.0
matchpy==0.5.5
memory_profiler==0.61.0
mock==5.1.0
monkeytype==23.3.0
moviepy==1.0.3
mpi4py==3.1.6
mss==9.0.1
multiset==3.1.0
munkres==1.1.4
ncnn==1.0.20240410
nncf==2.10.0
numba==0.59.1
numexpr==2.10.0
oauth2client==4.1.3
objgraph==3.6.1
odfpy==1.4.1
olefile==0.47
onnx2tf==1.22.3
onnxscript==0.1.0.dev20240529
onnxsim==0.4.36
openai==1.30.4
openpyxl==3.1.2
openvino==2024.1.0
paddle==1.0.2
pafy==0.5.5
paramiko==3.4.0
pooch==1.8.1
portpicker==1.6.0
psutil==5.9.6
py_cpuinfo==9.0.0
pycocotools==2.0.7
pycosat==0.6.6
pydot==1.4.2
pydot_ng==2.0.0
pydotplus==2.0.2
pydy==0.7.1
pygit2==1.15.0
pyglet==2.0.15
pygraphviz==1.13
pymc==5.15.0
pymc3==3.11.5
pynvml==11.5.0
pyodide==0.0.2
pyOpenSSL==24.1.0
PyQt4==4.11.4
PyQt5==5.15.10
PyQt6==6.7.0
pysat==3.2.0
PySide2==5.15.2.1
PySide6==6.7.1
pytest_timeout==2.3.1
python_calamine==0.2.0
pytidylib==0.3.2
pytorch_lightning==2.2.5
pytube==15.0.0
pyxlsb==1.0.10
qtpy==2.4.1
Quartz==0.0.1.dev0
railroad==0.5.0
ray==2.23.0
redis==5.0.4
reportlab==4.2.0
requests_kerberos==0.14.0
Res==0.1.7
roboflow==1.1.30
s3fs==2024.5.0
safetensors==0.4.3
sage==0.0.0
scikit_learn==1.5.0
scikits.talkbox==0.2.5
selenium==4.21.0
sentry_sdk==2.3.1
setuptools_scm==8.1.0
Shapely==2.0.4
shiboken2==5.15.2.1
shiboken6==6.7.1
simplejson==3.19.2
sip==6.8.3
Sphinx==7.3.7
sphinx_gallery==0.16.0
SQLAlchemy==2.0.30
statsmodels==0.14.2
streamlit==1.35.0
streamlit_select==0.3
super_gradients==3.7.1
symengine==0.11.0
tabulate==0.9.0
tblib==3.0.0
tensorboard_plugin_profile==2.15.1
tensorboard_plugin_wit==1.8.1
tensorflow_io==0.37.0
tensorflowjs==4.19.0
tf_keras==2.16.0
tflite_runtime==2.14.0
tflite_support==0.4.4
threadpoolctl==3.5.0
torch_xla==2.3.0
torcharrow==0.1.0
torchaudio==2.3.0
torchrec==0.7.0
tornado==6.4
tqdm==4.66.1
traitlets==5.14.3
transformers==4.41.1
tritonclient==2.46.0
trove_classifiers==2024.5.22
ufoLib2==0.16.0
uharfbuzz==0.39.1
ujson==5.10.0
unicodedata2==15.1.0
urllib3_secure_extra==0.1.0
wandb==0.17.0
x2paddle==1.4.1
xarray==2024.5.0
xattr==1.1.0
xlrd==2.0.1
xlsxwriter==3.2.0
xmlrpclib==1.0.1
xmlrunner==1.7.7
yarl==1.9.4
yt_dlp==2024.5.27
z3==0.2.0
zopfli==0.2.3
zstandard==0.22.0
